footer.normal-footer {
  padding: 40px 0;
  .footer-logo-container {
    @include media-breakpoint-down(sm) {
        text-align: center;
        .footer-logo {
          margin-bottom: 16px;
        }
    }
  }
  .footer-logo {
    width: 100px;
  }
  .social-icon{
    padding:0 5px;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include media-breakpoint-down(sm) {
        flex-direction: column;
        margin-bottom: 16px;
    }
    .footer-link {
      margin: auto 16px;
      color: #000;
    }
  }
  .footer-social {
    display: flex;
    justify-content: center;
    .footer-social-icon {
      width: 24px;
      border-radius: 2px;
    }
  }
}
