header.home-header {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img.brain-img {
    width: 700px;
    opacity: .5;
    align-self: center;
  }
  .intro-heading {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 120px;
    margin-left: 80px;
    text-align: left;
    max-width: 480px;
    h1 {
      font-weight: 700;
      text-transform: uppercase;

    }
  }
}
