header.home-header {
  @include media-breakpoint-up(lg) {
    height: 100vh;

  }
  .nav-offset {
    margin-top: 120px !important;
    margin-bottom: 40px !important;
  }
  display: flex;
  .tagline {
    font-size: 18px;
  }
  img.brain-img {
    width: 70%;
    opacity: .7;
    align-self: center;
    @include media-breakpoint-down(sm) {
      width: 60%;
      margin-top: 32px;
    }

  }
  .intro-heading {
    h1 {
      font-weight: 700;
      font-size: 48px;
    }
  }
}
header.normal-header {
  display: flex;
  .nav-offset {
    margin-top: 120px;
    margin-bottom: 40px;
  }
  .tagline {
    font-size: 18px;
  }
  img.brain-img {
    width: 70%;
    opacity: .7;
    align-self: center;
    @include media-breakpoint-down(sm) {
      width: 60%;
      margin-top: 32px;
    }

  }
  .intro-heading {
    h1 {
      font-weight: 700;
      font-size: 48px;
    }
  }
}
