header.home-header {
  height: 100vh;
  display: flex;
  .tagline {
    font-size: 18px;
  }
  img.brain-img {
    width: 70%;
    opacity: .7;
    align-self: center;
    @include media-breakpoint-down(sm) {
      width: 60%;
      margin-top: 32px;
    }

  }
  .intro-heading {
    h1 {
      font-weight: 700;
      font-size: 48px;
    }
  }
}
