nav.navbar {
  
  z-index: 2;
  .nav-link.highlight {
    background-color: $blue;
    color: $off-white;
    border-radius: 0px;
    border: none;
    padding: 6px 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
  }
  .navbar-toggler {
    &:focus {
      outline: none;
      border: none;
    }
  }
  @include media-breakpoint-down(md) {
    &.toggled {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $off-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }
  .interface {
    display: flex;
    @include media-breakpoint-down(md) {
      width: 100%;
      .navbar-toggler {
        margin-left: auto;
      }
      &.toggled {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        .navbar-toggler {
          padding-top: 12px;

        }
        .navbar-brand {
          padding-top: 12px;
        }
      }
    }

  }
  .mobile-container {
    display: flex;
    align-items: center;
    .navbar-brand {

    }
    .navbar-toggler {
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  .menu {
    @include media-breakpoint-down(md) {
      display: none;
      &.toggled {

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .navbar-brand {
    .logo {
      width: 100px;
      @include media-breakpoint-down(sm) {
        width: 80px;
      }
    }
  }
  .navbar-toggler {
    .bar {
      background-color: #000;
      width: 16px;
      height: 2px;
      display: block;
      margin: 4px 0;
    }
  }

  .nav-link{
    margin:0 6px;
  }
}
